In [10]:
import pandas as pd
import numpy as np

train = pd.read_csv('./train.csv')
test = pd.read_csv('./test.csv')
train = pd.concat([train,test]).reset_index(drop = True)

train

,policy_id,age,customer_months,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud
0,122576,37,189,2013-08-21,C,500/1000,1000,1465.71,5000000,455456,...,3,?,54930,6029,5752,44452,Nissan,Maxima,2000,0.0
1,937713,44,234,1998-01-04,B,250/500,500,821.24,0,591805,...,1,YES,50680,5376,10156,37347,Honda,Civic,1996,0.0
2,680237,33,23,1996-02-06,B,500/1000,1000,1844.00,0,442490,...,1,NO,47829,4460,9247,33644,Jeep,Wrangler,2002,0.0
3,513080,42,210,2008-11-14,A,500/1000,500,1867.29,0,439408,...,2,YES,68862,11043,5955,53548,Suburu,Legacy,2003,1.0
4,192875,29,81,2002-01-08,A,100/300,1000,816.25,0,640575,...,1,YES,59726,5617,10301,41550,Ford,F150,2004,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,663065,36,30,1999-08-18,B,500/1000,2000,1384.15,9000000,593323,...,1,YES,4507,970,477,3339,Dodge,Neon,2002,NaN
996,283767,47,285,2009-12-23,C,250/500,500,1590.78,7000000,447235,...,3,YES,45909,5599,5627,34598,Jeep,Grand Cherokee,1999,NaN
997,325099,39,256,1999-04-08,C,500/1000,2000,1265.24,0,592069,...,0,?,42293,5773,5491,34805,Dodge,RAM,1997,NaN
998,465673,35,54,2010-09-08,C,100/300,500,1229.74,0,451451,...,0,?,76875,14955,7312,59418,Nissan,Maxima,2012,NaN
999,913900,34,154,1990-09-27,C,100/300,500,1744.33,0,462941,...,1,YES,76269,8260,8354,59141,Honda,Civic,1998,NaN

In [11]:
test

,policy_id,age,customer_months,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,bodily_injuries,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year
0,681822,60,473,2002-12-17,B,500/1000,1000,1134.96,0,445975,...,0,3,?,53253,5212,10251,39503,Saab,95,2006
1,301288,36,173,1994-01-15,B,100/300,1000,916.20,0,469238,...,0,0,NO,69401,8309,8439,50012,Mercedes,ML350,2008
2,212001,36,147,1995-12-19,B,500/1000,1000,1175.74,5000000,595953,...,2,0,NO,63919,5572,11477,42801,Dodge,Neon,2009
3,797680,24,71,1992-06-20,C,500/1000,500,1472.40,0,613103,...,0,0,NO,63173,12027,6500,43423,Dodge,RAM,2012
4,789334,39,230,1996-11-28,C,250/500,1000,1159.44,4000000,581581,...,0,0,?,8847,904,1786,6138,Accura,RSX,2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,663065,36,30,1999-08-18,B,500/1000,2000,1384.15,9000000,593323,...,0,1,YES,4507,970,477,3339,Dodge,Neon,2002
296,283767,47,285,2009-12-23,C,250/500,500,1590.78,7000000,447235,...,0,3,YES,45909,5599,5627,34598,Jeep,Grand Cherokee,1999
297,325099,39,256,1999-04-08,C,500/1000,2000,1265.24,0,592069,...,0,0,?,42293,5773,5491,34805,Dodge,RAM,1997
298,465673,35,54,2010-09-08,C,100/300,500,1229.74,0,451451,...,2,0,?,76875,14955,7312,59418,Nissan,Maxima,2012
299,913900,34,154,1990-09-27,C,100/300,500,1744.33,0,462941,...,1,1,YES,76269,8260,8354,59141,Honda,Civic,1998

In [12]:
train['policy_bind_date'] = pd.to_datetime(train.policy_bind_date,format = '%Y-%m-%d')
train['incident_date'] = pd.to_datetime(train.incident_date,format = '%Y-%m-%d')
train['insured_days'] = (train['incident_date'] - train['policy_bind_date']).dt.days
train['policy_csl_0'] = train.policy_csl.str.split('/',expand = True)[0].astype('int64')
train['policy_csl_1'] = train.policy_csl.str.split('/',expand = True)[1].astype('int64')
selected_var = train.columns.difference(['policy_bind_date','incident_date','policy_csl','insured_zip'])
train = train[selected_var].set_index('policy_id')
train

,age,authorities_contacted,auto_make,auto_model,auto_year,bodily_injuries,capital-gains,capital-loss,collision_type,customer_months,...,policy_csl_0,policy_csl_1,policy_deductable,policy_state,property_claim,property_damage,total_claim_amount,umbrella_limit,vehicle_claim,witnesses
policy_id,,,,,,,,,,,,,,,,,,,,,
122576,37,Ambulance,Nissan,Maxima,2000,0,62203,0,Side Collision,189,...,500,1000,1000,C,5752,?,54930,5000000,44452,3
937713,44,Other,Honda,Civic,1996,2,31606,0,Side Collision,234,...,250,500,500,B,10156,?,50680,0,37347,1
680237,33,Police,Jeep,Wrangler,2002,2,0,-43166,Side Collision,23,...,500,1000,1000,B,9247,?,47829,0,33644,1
513080,42,Fire,Suburu,Legacy,2003,2,0,-49440,Front Collision,210,...,500,1000,500,A,5955,YES,68862,0,53548,2
192875,29,Fire,Ford,F150,2004,2,75296,-73689,Rear Collision,81,...,100,300,1000,A,10301,YES,59726,0,41550,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
663065,36,None,Dodge,Neon,2002,0,0,-79936,?,30,...,500,1000,2000,B,477,NO,4507,9000000,3339,1
283767,47,Fire,Jeep,Grand Cherokee,1999,0,0,-58786,Side Collision,285,...,250,500,500,C,5627,?,45909,7000000,34598,3
325099,39,Police,Dodge,RAM,1997,0,0,-31129,Rear Collision,256,...,500,1000,2000,C,5491,YES,42293,0,34805,0
465673,35,Fire,Nissan,Maxima,2012,2,65965,-43489,Side Collision,54,...,100,300,500,C,7312,YES,76875,0,59418,0
913900,34,Ambulance,Honda,Civic,1998,1,0,0,Front Collision,154,...,100,300,500,C,8354,NO,76269,0,59141,1

In [13]:
train.collision_type.value_counts()
train.property_damage.value_counts()
train.police_report_available.value_counts()

?      343
NO     343
YES    314
Name: police_report_available, dtype: int64

In [ ]:
#1.对有序类别进行编码

#有序类别：①被保人学历insured_education_level,②事故严重程度incident_severity

In [ ]:
train.insured_education_level = train.insured_education_level.astype('category')
train.incident_severity = train.incident_severity.astype('category')
#有序类别用category映射方法编码
train['insured_education_level_val'] = train.insured_education_level.cat.rename_categories({'High School':1,'Associate':2,'College':3,'Masters':4,'JD':5,'PhD':6,'MD':7})
train['incident_severity_val'] = train.incident_severity.cat.rename_categories({'Trivial Damage':1,'Minor Damage':2,'Major Damage':3,'Total Loss':4})
train['insured_education_level_val'] = train['insured_education_level_val'].astype('int64')
train['incident_severity_val'] = train['incident_severity_val'].astype('int64')

from sklearn import preprocessing as pp
le = pp.LabelEncoder()
obj_list = train.dtypes[train.dtypes == 'object'].index
for col in obj_list:
    train[col+'_val'] = le.fit_transform(train[col])
    
feats = train.dtypes[(train.dtypes != 'object')&(train.dtypes != 'category')].index
feats = feats[feats!='fraud']

train_x = train.loc[train.fraud.notna()][feats]
test_x = train.loc[train.fraud.isna()][feats]
train_y = train.loc[train.fraud.notna()]['fraud']
test_y = train.loc[train.fraud.isna()]['fraud']

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from sklearn.model_selection import cross_val_score
import time

clf1 = LogisticRegression()
clf2 = DecisionTreeClassifier()
clf3 = RandomForestClassifier()
clf4 = AdaBoostClassifier()
clf5 = GradientBoostingClassifier()
clf6 = XGBClassifier()
clf7 = LGBMClassifier()
for clf,name in zip([clf1,clf2,clf3,clf4,clf5,clf6,clf7],['Logistic','DecisionTree','RandomForest','AdaBoost','GradientBoosting','XGB','LGBM']):
    start = time.time()
    score = cross_val_score(clf,train_x,train_y,scoring = 'roc_auc',cv = 5)
    end = time.time()
    time_cost = end - start
    print("AUC：%0.8f(+/- %0.2f),耗时：%0.2f秒，模型名称[%s]"%(score.mean(),score.std(),time_cost,name))